npm-debug.log
.DS_Store
.remote-sync.json
src/config/config.json
*.sqlite
*.sqlite-journal
*.log
*.crt
*.key
run.sh
/dist/
/logs/
/data/
/public/
.idea/
uploads/
test-uploads/
documentation/
certificates/
node_modules/
coverage/
.nyc_output/
logs/
